@import url("ui/elements/base.css");

.profile {
    width: 170px;
}

.avatar-wrap {
    widows: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-name {
    width: 100%;
    text-align: center;
    padding-top: 23px;
}

.username {
    color: var(--accent);
    font-size: 0.9em;
    margin-top: 4px;
    padding-bottom: 3px;
}